body{
margin: 0%;
}

/* Start Banner Section*/
.banner_section{
    background-image: url(./images/banner/banner2.png);
    background-size: cover;
    width: auto;
    height: 100vh;
    color: rgb(2, 15, 255);
    text-align: end;
    padding-right: 50px;
    padding-top: 200px;
}
.banner_section h1{
    font-size: 70px;
}
.banner_section p{
    font-size: 33px;
}
.banner_section button{
    color: rgb(170, 0, 255);
    width: 160px;
    height: 50px;
    text-align: center;
    font-size: 22px;
}
/* End Banner Section*/


/* Start Previous Year Failure Section*/
.failure-section{
    display: flex;
    width: 100%;
    height: 700px;
    margin-top: 50px;
}

.left-side-failure-section img{
    width: 600px;
    height: 650px;
    margin: 20px 50px 0px 150px;
}

.right-side-failure-section{
    width: 900px;
    height: 550px;
     margin: 20px 150px 0px 10px;
     padding-top: 100px;
    padding-left: 15px;
}

.right-side-failure-section h2{
    font-size: 40px;
}

.right-side-failure-section p, ul{
    font-size: 20px;
}
/* End Previous Year Failure Section*/


/* Start My Plan Section. */
.plans-section{
    height: 400px;
    width: 70%;
    margin: 0px 280px;
    text-align: center;
}
.plans-section h2{
    font-size: 40px;
}
.plan-list{
    display: flex;
    height: 280px;
    padding-top: 20px;
}

.plan-task{
    height: 250px;
    width: 200px;
    margin-left: 90px;
}

.plan-task img{
    width: 110px;
    height: 100px;
    padding-top: 10px;
}

.plan-task h4{
    font-size: 25px;
}

.plan-task p{
    font-size: 25px;
}
/* End My Plan Section. */


/* Start Daily Check List Section. */

/* --------  DUE Bonus Part ---------*/

/* End Daily Check List Section. */


/* Start Positive Mindset Section. */
.mindset-section{
    color: white;
    height: 300px;
    width: 80%;
    margin-left: 120px;
    padding-left: 100px;
    padding-top: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:
    linear-gradient(to left, rgba(233, 210, 193, 0.05), rgba(30, 136, 222, 0.834)),
    url('./images/watch.png');
    border-radius: 5px;
}

.mindset-section h2{
    font-size:50px;
}

.mindset-section button{
    color: rgb(17, 106, 240);

    width: 120px;
    height: 50px;
    text-align: center;
    font-size: 22px;
}
/* End Positive Mindset Section. */


/* Start Footer section. */
.footer-section{
    background-color: black;
    display: flex;
    color:white;
    margin-top: 50px;
    height: auto;
    width: 100%;
}

.left-side-footer-text-section{
    width: 50%;
    margin-left: 5%;
    padding-left: 40px;
}

.left-side-footer-text-section h3{
    font-size: 30px;
}

.left-side-footer-text-section p{
    font-size: 24px;
}

.left-side-footer-text-section h6{
    font-size: 22px;
}

.social-icon img{
    margin-left: 15px;
}

.right-side-footer-subscribe-section{
width: 40%;
margin-left: 10%;
font-size: 30px;
padding-left: 30px;
}

.email-tag{
    font-size: 20px;
    margin-bottom: 10px;
}

.right-side-footer-subscribe-section button{
    height: 30px;
    width: 120px;
    font-size: 20px;
    border-radius: 5px;
}
/* End Footer Section.  */